<div class="sipz-log-form">
  <%= simple_form_for @sip do |f| %>
    <%= f.input :message, required: true, label: false, input_html: {maxlength: 100} %>
    <%= f.submit 'Update Post', class: 'sipz-enter float-right' %>
  <% end %>
</div>