<div class="posts-link">NEW</div>

<% @sips.each do |sip| %>
  <%= link_to sip_path(sip) do %>
    <div class="post-preview" style="background: url(/assets/pic-<%= sip.id %>.png) center; background-size: cover;">
      <div class="post-message">
        <span class="fa fa-user-circle" style="font-size:20px;"></span>
        <%= sip.user.email %></br>
        <%= sip.message %>
      </div>
    </div>
  <% end %>
<% end %>