<%= link_to "NEW", "/list", class: "post-list-link" %>

<% @sips.each do |sip| %>
  <%= link_to sip_path(sip) do %>
    <div class="post-preview" style="background: url(/assets/pic-<%= sip.id %>.png) center">
      <div class="post-caption">
        <%= sip.message %>
      </div>
    </div>
  <% end %>
<% end %>