<%= simple_form_for @beer do |f| %>
  <div class="sipz-form">
    <div class="sipz-caption">
      <br />edit beer name<br /><br />
      <%= f.input :name, required: true, label: false %>
      <div class="float-bottom">
        <%= f.submit 'Update Beer', class: 'enter' %>
      </div> 
    </div>
    <div class="sipz-image">
      <br />edit beer photo or video<br /><br />
      <%= f.file_field :picture, type: "file", class: "fileinput" %>
      <label for="file" class="fileoutput" style="cursor: pointer;">click to choose file or drag and drop</label>
    </div>
  </div>
<% end %>