<%= link_to "NEW", "/list", class: "sipz-list-link" %>

<% @beers.each do |beer| %>
  <%= link_to beer_path(beer) do %>
    <div class="sipz-preview" style="background: url(<%= beer.picture.url %>) center; background-size: cover;">
      <div class="sipz-caption">
        <div class="sipz-title center">
          <p><%= beer.name %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

 