<script type="text/javascript">
  $(function() {
     $("input:file").change(function (){
       var fileName = $(this).val();
       $(".filename").html(fileName);
     });
  });
</script>
<%= simple_form_for Beer.new do |f| %>
  <div class="sipz-form">
    <div class="sipz-caption">
      <br />add beer caption<br /><br />
      <%= f.input :name, required: true, label: false, placeholder: 'beer name' %>
      <div class="float-bottom">
        <%= f.submit 'Add Beer', class: 'enter' %>
      </div>
    </div>
    <div class="sipz-image">
      <br />
      <%= f.file_field :picture, id: "picture" %>
      <label for="picture" class="filename" />drag and drop a beer photo or video</label>
    </div>
  </div>
<% end %>
