<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<%= simple_form_for Beer.new do |f| %>
  <div class="sipz-form">
    <div class="sipz-caption">
      <br />add beer caption<br /><br />
      <%= f.input :name, required: true, label: false, placeholder: 'beer name' %>
      <div class="float-bottom">
        <%= f.submit 'Add Beer', class: 'enter' %>
      </div>
    </div>
    <div class="sipz-image">
      <br />add a beer photo or video<br /><br />
      <%= f.file_field :picture, type: "file", class: "fileinput" %>
      <label for="file" class="fileoutput" style="cursor: pointer;">click to choose file or drag and drop</label>    
    </div>
  </div>
<% end %>
