<%= simple_form_for @post, url: user_post_path(@post) do |f| %>
  <div class="form-image">
    image uploader here
  </div>
  <div class="form-caption">
    <%= f.input :caption, required: true, label: false %>
    <%= f.submit 'Update Post', class: 'enter float-right' %>    
  </div>
<% end %>