<%= simple_form_for [@beer, @post], url: beer_post_path(@post) do |f| %>
  <div class="sipz-form">
    <div class="form-image">
      edit post image<br /><br />
       <%= f.file_field :picture %>
    </div>
    <div class="form-caption">
      edit post caption<br /><br />
      <%= f.input :caption, required: true, label: false %>
      <%= f.submit 'Update Post', class: 'enter float-right' %>    
    </div>
  </div>
<% end %>