<%= simple_form_for @post, url: beer_post_path(@beer, @post) do |f| %>
  <div class="sipz-form">
    <div class="sipz-caption">
      <br />edit post caption<br /><br />
      <%= f.input :caption, required: true, label: false %>
      <div class="float-bottom">
        <%= f.submit 'Update Post', class: 'enter' %>
      </div>
    </div>
    <div class="sipz-image">
      <br />edit post photo or video<br /><br />
      <%= f.file_field :picture, type: "file", class: "fileinput" %>
      <label for="file" class="fileoutput" style="cursor: pointer;">click to choose file or drag and drop</label>
    </div>
  </div>
<% end %>