<%= link_to "NEW", "/list", class: "post-list-link" %>

<% @posts.each do |post| %>
  <%= link_to post_path(post) do %>
    <div class="post-preview" style="background: url(/assets/pic-<%= post.id %>.png) center">
      <div class="post-caption">
        <%= post.caption %>
      </div>
    </div>
  <% end %>
<% end %>