<%= simple_form_for Post.new do |f| %>
    <div class="form-image">
      
    </div>
    <div class="form-caption">
      <%= f.input :beer, required: true, label: false, placeholder: 'beer name' %>
      <%= f.input :caption, required: true, label: false, placeholder: '5-100 character caption' %>
      <%= f.submit 'Add Post', class: 'enter float-right' %>
    </div>
  <% end %>