<%= simple_form_for [@beer, @post] do |f| %>
    <div class="form-image">
      image uploader here
    </div>
    <div class="form-caption">
      <h1><%= @beer.name %></h1>
      <%= f.input :caption, label: false, placeholder: '3-100 character caption', as: :text, :input_html => { :rows => 10 } %>
      <%= f.submit 'Add Post', class: 'enter float-right' %>
    </div>
  <% end %>