<div class="post">
  <div class="post-image" style="background: url(/assets/pic-<%= @post.id %>.png) center; background-size: cover;"></div>
  <div class="post-caption">
    <i class="fa fa-user-circle"></i>
    <%= @post.caption %></br></br>
    posted by <%= @post.user.username %></br></br>
    on <%= @post.created_at.strftime("%b %d, %Y" + " at " + "%H:%M") %>
  </div>
  <div class="post-comments">

comments code here

  </div>
</div>