<div class="sipz-post">
  <div class="sipz-image" style="background: url(/assets/pic-<%= @post.id %>.png) center; background-size: cover;"></div>
  <div class="sipz-caption">
    <br /><br />
    <div class="beer-name">
      <%= @post.caption %>
    </div>
    <br /><br />
    <div class="user-date">
      posted by <%= @post.user.username %> on <%= @post.created_at.strftime("%b %d, %Y" + " at " + "%H:%M") %>
    </div>
    <div class="addcomment enter float-right">Add Comment</div>
  </div>
</div>
<div class="sipz-comments">

user comments code here

</div>