@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

html, body {
  margin: 0px;
  padding: 0px;
  color: gray;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

body {
  overflow-y: scroll; 
}

a, .signin, .signup, .forgot, .addpost, .editpost {
  color: gray;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
}

a:hover, .signin:hover, .signup:hover, .forgot:hover, .addpost:hover, .editpost:hover {
  color: orange;
  text-decoration: none;
}

#SignIn, #SignUp, #Forgot, #AddPost, #EditPost {
  display: none;
}

.sipz-columns {
  display: grid;
  grid-template-columns: auto 840px auto;
  width: 100%;
  height: 100%;  
}

.sipz-header, .sipz-content {
  width: 840px;
}

.sipz-header {
  position: fixed;
  height: 40px;
  padding: 5px;
  background-color: white;
}

.sipz-logo {
  float: left;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: orange;
}

.sipz-logo:hover {
  color: gray;
}

.sipz-nav {
  float: right;
}

.sipz-welcome-login, .sipz-form-login, .sipz-form-image, .sipz-form-caption {
  float: left;
  width: 410px;
  height: 410px;
  margin: 5px;
  padding: 40px;
}

.sipz-welcome-login, .sipz-form-image {
  color: white;
  background-color: gray;
}

.sipz-form-login, .sipz-form-caption {
  background-color: whitesmoke;
}

.form-control {
  width: 100%;
  height: 30px;
  padding: 0px 10px;
  color: gray;
  font-size: 14px;
  line-height: 10px;
  border: none;
  border-radius: 0px;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-control:focus {
  color: gray;
  border: none;
  outline: none;
  background-color: white;
}

.form-group {
  margin-bottom: 10px;
}

.text > textarea {
  padding: 10px;
  min-height: 50px;
  line-height: 20px;
}

.file.sipz-enter {
  padding: 0px;
  line-height: 26px;
}

.sipz-enter {
  height: 30px;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 10px;
  color: white;
  border: none;
  border-radius: 0px;
  background-color: orange;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sipz-enter:hover {
  background-color: black;
  color: orange;
}

.sipz-content {
  margin-top: 40px;
  height: 100%;
}

.alert, .notice {
  float: right;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  padding: 0px;
  margin: 0px;
  margin-right: 20px;
  vertical-align: middle;
  border: none;
}

.notice {
  color: gray;
}

.alert {
  color: orange;
}


@media all and (max-width: 900px) {
  .sipz-columns {
    grid-template-columns: auto 630px auto;
  }
  .sipz-header, .sipz-content {
    width: 630px;
  }
}

@media all and (max-width: 700px) {
  .sipz-columns {
    grid-template-columns: auto 420px auto;
  }
  .sipz-header, .sipz-content {
    width: 420px;
  }
}