.posts-link, .post-preview {
  float: left;
  width: 200px;
  height: 200px;
  margin: 5px;
}

.posts-link {
  text-align: center;
  vertical-align: bottom;
  font-size: 20px;
  font-weight: 700;
  line-height: 200px;
  color: white;
  background-color: orange;
}

.post-preview {
  color: white;
  background-color: black;
}